<!DOCTYPE html>
<html>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <head>
  <body>
    <p>
      New message from '<%= @name %>' <%= "<#{@email}>" %>
    </p>
    <p>
      <%= @message %>
    </p>
  </body>
  </head>
</html>