<h1>Welcome to the Hitchlog <%= @resource.username.capitalize %></h1>

<p>Please confirm your account.</p>
<p>To confirm your account, please follow this link:</p>

<p><%= link_to 'Confirm my account', "#{ENV['FRONTEND']}/confirm_account?token=#{@token}" %></p>

<p>
Happy Hitchhiking, The Hitchlog
</p>
